* {
    --primary-color-light: rgb(255, 255, 255);
    --primary-color: rgb(255, 84, 5);
    ---primary-color-dark: rgb(46, 15, 1);
    --error-color: rgb(255, 0, 0);
    --success-color: rgb(18, 255, 5);
    --border-radius: 4px;

    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.container1{
    width: 100%;
    height: 120vh;
    background-image: linear-gradient(rgba(248, 92, 39, 0.7), rgba(42, 3, 3, 0.7));
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 8px 0 #190a05;
}

.video_background{
    z-index: -1;
    position: absolute;
    right: 0;
    bottom: 0;
}


.navContainer{
    background: rgba(51, 15, 2, 0.543);
    backdrop-filter: blur(5%);
    width: 90%;
    height: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10%;
    justify-content: space-between;
}

.logoFlex{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

.logoFlex img{
    width: 8%;
}

.logoFlex h1{
    color: var(--primary-color-light);
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

.listContainer .listItems{
    display: flex;
}

.listContainer .listItems li{
    list-style: none;
    margin-right: 10px;
}

.listContainer .listItems a{
    text-decoration: none;
    color: var(--primary-color-light);
    padding: 20px;
    font-size: 20px;
}

.userAccountsButton {
    background: var(--primary-color);
    color: var(--primary-color-light);
    cursor: pointer;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 15px;
    box-sizing: border-box;
    border: none;
    border-radius: 7px;
    margin-right: 5px;
    transition: 0.5s ease-in-out;
}

.userAccountsButton:hover{
    background: rgb(74, 2, 2);
}

.userAccountsButton:active{
    transform: scale(0.75);
}

.searchBox input{
    width: 450%;
    height: 200%;
    text-align: center;
    font-size: 15px;
    border-radius: 20px;
    border: none;
}

.searchBox{
    margin-top: 20px;
    margin-left: -35%;   
}

.movieDemocontainer{
    width: 90%;
    height: 120vh;
    background: rgba(88, 29, 1, 0.534);
    backdrop-filter: blur(1rem);
    margin-top: 5%;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
}

.movieDemocontainer .overlay{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center; 
    transition: all 0.5s ease-in-out; 
}

.overlay .movieCard{
    transition: all .5s ease-in-out;
}

.overlay .movieCard img{
    width: 70%;
    margin-left: 18%;
    margin-top: 23%;
    border-radius: var(--border-radius); 
    cursor: pointer;
}

.overlay .movieCard:hover{
    transform: scale(1.1);
}

.overlay:before{
    content: "";
    position: absolute;
    top: 16%;
    left: 18%;
    width: 70%;
    height: 73.9%;
    background-image: linear-gradient(rgba(225, 56, 4, 0.8), rgba(30, 7, 0, 0.8));
    opacity: 0;
    border-radius: var(--border-radius);
}

.overlay:hover .movieCard:before{
    opacity: 1;
}












