.container{
    background: rgb(183, 249, 239);
    box-shadow: 5px 5px 5px rgba(0, 37, 37, 0.8);
    height: 90vh;
    width: 70%;
    border-radius: 5px;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box {
    background: rgb(3, 104, 227);
    border-radius: 5px;
    height: 70px;
    width: 70px;
}