* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid white; */
}

/* Nav Section */
.navContainer {
  /* background-color: #1f2937; */
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listContainer {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  width: 1610px;
}

.listItems {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#user {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #f9faf8;
  margin-left: 20px;
}
.notification {
  border-radius: 50%;
  color: white;
  width: 15px;
  height: 15px;
  background-color: rgb(217, 17, 17);
  position: relative;
  left: 35px;
  bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  padding: 15px;
}

.logoFlex,
.flame {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.link-item {
  list-style: none;
}

.link {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
  margin-left: 80px;
}

.userAccountsButton:hover {
  padding: 10px 20px 10px 20px;
  border: none;
  font-size: 20px;
  color: #1f2937;
  background-color: #e5e7eb;
  border: 2px solid #e5e7eb;
}
.userAccountsButton {
  padding: 10px 20px 10px 20px;
  border: 2px solid #e5e7eb;
  font-size: 20px;
  color: #e5e7eb;
  margin-left: 20px;
  background: none;
}

/* Hero Section */
.hero-section {
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url("halo.jpeg"); */
  background-color: #1f2937;
  height: 1080px;
}

.homepage {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  height: 1080px;
}

.hero {
  /* border: 1px solid white; */
  width: 1610px;
}

.hero-text {
  /* border: 1px solid white; */
  margin: 0;
  padding: 150px 0 50px 0;
  color: #e5e7eb;
}

.title {
  font-size: 150px;
}

.body-text {
  font: 92px;
  width: 600px;
}

.hero-button {
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
  border: none;
  font-size: 20px;
  color: #e5e7eb;
  background: none;
  border: 2px solid #e5e7eb;
  margin-right: 20px;
}
.hero-button:hover {
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
  border: none;
  font-size: 20px;
  color: #1f2937;
  background-color: #e5e7eb;
  border: 2px solid #e5e7eb;
  margin-right: 20px;
}

#download {
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
  border: none;
  font-size: 20px;
  color: #e5e7eb;
  background-color: #3882f6;
  border: 2px solid #3882f6;
  margin-right: 20px;
}

/* Featured (Sub) Section */
.subtitle {
  font-size: 35px;
  color: #e5e7eb;
  padding: 0 0 10px 0;
}

.card-container {
  display: flex;
}

.movie-card {
  background-color: #e5e7eb;
  width: 300px;
  height: 200px;
  align-items: end;
  margin-right: 45px;
  overflow: hidden;
  color: black;
}

.most-title {
  position: absolute;
  color: black;
}

/* More movies */
.more-movies {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  height: 1080px;
  background-color: black;
}
